$colors: (
	common: (
		white: #f7f7f7,
		white-2: #a9b0b8,
		black: #000000,
		black-2: #676e7a,
		black-3: #969ca5,
	),
	heading: (
		primary: #051229,
	),
	text: (
		body: #364052,
		body-2: #7e8590,
	),
	theme: (
		primary: #0075ff,
		dark: #051229,
		bg: #e1e8f0,
		bg-2: #dfecfd,
	),
	border: (
		1: #27354d,
		2: #ced7e0,
		3: #d7d8db,
	),
	red: (
		1: #ff0000,
	),
);
