@use "../utilities" as *;

/* START: Brand CSS */
.tj-brand-section {
	position: relative;
	padding-top: 120px;
	padding-bottom: 80px;
	background-color: var(--tj-color-theme-dark);
	z-index: 1;
	// &::before {
	// 	position: absolute;
	// 	content: "";
	// 	top: -1px;
	// 	inset-inline-start: 0;
	// 	width: 100%;
	// 	height: 37px;
	// 	mask-image: url(/images/shapes/brand-shapes.svg);
	// 	background: var(--tj-color-common-white);
	// 	mask-repeat: no-repeat;
	// 	mask-position: center;
	// 	mask-size: contain;
	// 	z-index: 2;
	// }
	@media #{$xxxl} {
		&::before {
			top: -4px;
		}
	}
	@media #{$xxl} {
		&::before {
			top: -5px;
		}
	}
	@media #{$xl} {
		&::before {
			top: -8px;
		}
	}
	@media #{$lg} {
		padding-top: 100px;
		&::before {
			top: -10px;
		}
	}
	@media #{$md} {
		padding-top: 80px;
		padding-bottom: 60px;
		&::before {
			top: -12px;
		}
	}
	@media #{$sm} {
		padding-top: 80px;
		padding-bottom: 60px;
		&::before {
			top: -13px;
		}
	}
	@media #{$xs} {
		padding-top: 60px;
		padding-bottom: 60px;
		&::before {
			top: -15px;
		}
	}
}

.tj-brand-section-two {
	.sec-heading {
		position: relative;
		z-index: 1;
		&::before {
			position: absolute;
			content: "";
			width: 34%;
			height: 1px;
			top: 50%;
			transform: translateY(-50%);
			inset-inline-start: 0;
			background: var(--tj-color-border-2);
			z-index: -1;
		}
		&::after {
			position: absolute;
			content: "";
			width: 34%;
			height: 1px;
			top: 50%;
			transform: translateY(-50%);
			inset-inline-end: 0;
			background: var(--tj-color-border-2);
			z-index: -1;
		}
		.sec-title {
			max-width: 395px;
			width: 100%;
			background: var(--tj-color-theme-bg);
			font-size: 16px;
			font-family: var(--tj-ff-body);
			padding: 5px 20px 8px;
			border-radius: 40px;
			margin-inline-start: auto;
			margin-inline-end: auto;
			margin-bottom: 0;
			outline: 8px solid var(--tj-color-common-white);
			span {
				color: var(--tj-color-theme-primary);
			}
			@media #{$xs} {
				max-width: 305px;
			}
		}
	}
}
.brand-slider-1 {
	overflow: hidden;
	position: relative;
	z-index: 1;
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 308px;
		height: 100%;
		background-image: linear-gradient(
			90deg,
			var(--tj-color-theme-dark) 0%,
			rgba(5, 18, 41, 0) 100%
		);
		top: 0;
		inset-inline-start: 0;
		z-index: 2;
	}
	&::after {
		inset-inline-start: auto;
		inset-inline-end: 0;
		background-image: linear-gradient(
			-90deg,
			var(--tj-color-theme-dark) 0%,
			rgba(5, 18, 41, 0) 100%
		);
	}
	.brand_wrapper {
		transition-timing-function: linear;
	}
	.brand-logo {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 195px;
		height: 74px;
		background: rgba(247, 247, 247, 0.1);
		@media #{$xs} {
			width: 165px;
			height: 60px;
		}
	}
	@media #{$xs} {
		&::before {
			width: 150px;
		}
		&::after {
			width: 150px;
		}
	}
}
.brand-slider-2 {
	overflow: hidden;
	position: relative;
	z-index: 1;
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 40%;
		height: 100%;
		background-image: linear-gradient(
			90deg,
			var(--tj-color-common-white) 0%,
			rgba(247, 247, 247, 0) 100%
		);
		top: 0;
		inset-inline-start: 0;
		z-index: 2;
	}
	&::after {
		inset-inline-start: auto;
		inset-inline-end: 0;
		background-image: linear-gradient(
			-90deg,
			var(--tj-color-common-white) 0%,
			rgba(247, 247, 247, 0) 100%
		);
	}
	.brand_wrapper {
		transition-timing-function: linear;
	}
	.brand-logo {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 195px;
		height: 74px;
		background: rgba(225, 232, 240, 1);
		@media #{$xs} {
			width: 165px;
			height: 60px;
		}
		img {
			filter: invert(1);
		}
	}
	@media #{$xs} {
		&::before {
			width: 150px;
		}
		&::after {
			width: 150px;
		}
	}
}
/* !END: Brand CSS */
