@use "../utilities" as *;

/* START: About CSS */
.tj-about-section-four {
	background-color: var(--tj-color-theme-bg);
	position: relative;
	overflow: hidden;
	.about-shapes {
		position: absolute;
		top: 356px;
		inset-inline-end: -40px;
		width: 180px;
		height: 180px;
		@media #{$sm, $xs} {
			width: 120px;
			height: 120px;
		}
	}
}
.about-wrapper-three {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 20px;
	position: relative;
	z-index: 2;
	padding-top: 120px;
	padding-bottom: 120px;
	@media #{$md, $sm, $xs} {
		flex-direction: column-reverse;
		row-gap: 50px;
	}
	.about_images {
		position: absolute;
		top: 0;
		inset-inline-end: 0;
		max-width: 305px;
		width: 100%;
		@media #{$xxl, $xl} {
			max-width: 180px;
			inset-inline-end: -30px;
		}
		@media #{$lg, $sm, $xs} {
			display: none;
		}
		@media #{$md} {
			max-width: 230px;
		}
	}
	@media #{$md, $sm, $xs} {
		padding: 80px 0;
	}
}

.about-image-wrap {
	max-width: 512px;
	padding-inline-end: 90px;

	img {
		@media #{$md, $sm, $xs} {
			width: 100%;
			height: 600px;
			object-fit: cover;
		}
		@media #{$xs} {
			height: 500px;
		}
	}
	.circle-wrap {
		position: absolute;
		width: 178px;
		height: 178px;
		border-radius: 50%;
		top: 50%;
		inset-inline-end: 0;
		border: 9px solid var(--tj-color-theme-bg);
		background-color: var(--tj-color-theme-dark);
		transform: translateY(-50%);
		z-index: 1;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		.rotate-image {
			position: absolute;
			inset-inline-start: 50%;
			top: 50%;
			width: 125px;
			height: 125px;
			transform: translate(-50%, -50%);
			animation: rotateImg 10s infinite linear;
			@media #{$lg} {
				width: 100px;
				height: 100px;
			}
		}
		// &:hover {
		// 	.rotate-image {
		// 		animation-duration: 4s;
		// 	}
		// }
		.circle {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			position: relative;
			z-index: 2;
			span {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 58px;
				height: 58px;
				color: var(--tj-color-common-white);
				background: var(--tj-color-theme-primary);
				border-radius: 50%;
				line-height: 1;
				@media #{$lg} {
					width: 45px;
					height: 45px;
					font-size: 14px;
				}
			}
		}
		&:hover {
			.circle {
				span {
					transform: scale(1.05);
					box-shadow: 0 0 0 8px rgba(0, 117, 255, 0.2);
				}
			}
		}
		@media #{$lg} {
			width: 140px;
			height: 140px;
			border-width: 6px;
		}
		@media #{$md, $sm, $xs} {
			top: 0;
			inset-inline-end: 50%;
			transform: translate(50%, 0);
		}
	}
	@media #{$lg} {
		max-width: 400px;
		padding-inline-end: 70px;
	}
	@media #{$md, $sm, $xs} {
		padding: 90px 0 0 0;
		padding-inline-end: 0;
		max-width: 100%;
		width: 100%;
	}
}
.about-content-four {
	.sec-heading {
		max-width: 420px;
		margin-bottom: 30px;
		.sub-title {
			background-color: var(--tj-color-common-white);
		}
		.sec-title {
			letter-spacing: -0.025em;
			margin-bottom: 0;
		}
		@media #{$sm, $xs} {
			max-width: 100%;
		}
	}
	.about-feature-item {
		max-width: 764px;
		.feature-box {
			padding-top: 32px;
			padding-inline-end: 35px;
			margin-inline-end: 40px;
			&:last-child {
				border-inline-end: none;
				padding-top: 40px;
				padding-inline-end: 0;
				margin-inline-end: 0;
			}
			.desc {
				max-width: 380px;
			}
			@media #{$xl} {
				width: 50%;
				padding-inline-end: 30px;
				margin-inline-end: 30px;
			}
			@media #{$lg, $sm} {
				width: 50%;
				padding-inline-end: 25px;
				margin-inline-end: 25px;
			}
			@media #{$md} {
				width: 50%;
			}
			@media #{$xs} {
				width: 100%;
				border-inline-end: 0;
			}
		}
		.about-button {
			margin-top: 22px;
		}

		@media #{$xl} {
			max-width: 584px;
		}
		@media #{$lg} {
			max-width: 515px;
		}
		@media #{$xs} {
			flex-wrap: wrap;
		}
	}
	.about-author {
		background-color: var(--tj-color-common-white);
		padding: 28px 20px;
		display: flex;
		align-items: center;
		.author-img {
			width: 58px;
			height: 58px;
			border-radius: 50%;
			overflow: hidden;
			margin-bottom: 10px;
		}
		.author-name {
			padding-inline-end: 15px;
			margin-inline-end: 10px;
			border-inline-end: 1px solid var(--tj-color-border-2);
			.title {
				margin-bottom: 3px;
				@media #{$xl} {
					font-size: 17px;
				}
			}
			@media #{$xl} {
				padding-inline-end: 10px;
			}

			@media #{$lg, $sm} {
				margin: 0 0 15px 0;
				padding: 0 0 10px 0;
				border-inline-end: 0;
				border-bottom: 1px solid var(--tj-color-border-2);
			}
		}
		@media #{$xl} {
			padding: 28px 15px;
		}
		@media #{$lg, $sm} {
			flex-wrap: wrap;
		}
		@media #{$xs} {
			max-width: 310px;
		}
	}
	@media #{$xs} {
		padding: 0 10px;
	}
}

/* !END: About CSS */
