@use "../utilities" as *;

/* START: Hero CSS */

.tj-hero-section-four {
	padding-top: 140px;
	background: var(--tj-color-theme-bg);
	position: relative;
	z-index: 2;
	.hero-shapes-2 {
		position: absolute;
		bottom: 0;
		inset-inline-start: -166px;
		max-width: 333px;
		width: 100%;
		z-index: -1;
		@media #{$xxl, $xl} {
			max-width: 220px;
			inset-inline-start: -110px;
		}
		@media #{$lg, $md} {
			max-width: 180px;
			inset-inline-start: -100px;
		}
		@media #{$sm, $xs} {
			max-width: 140px;
			inset-inline-start: -75px;
		}
	}
	@media #{$xl} {
		padding-top: 140px;
	}
	@media #{$md} {
		padding-top: 140px;
	}
	@media #{$sm, $xs} {
		padding-top: 120px;
	}
}

.hero-wrapper-four {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	.hero-shapes-1 {
		position: absolute;
		top: -100px;
		inset-inline-end: -44px;
		max-width: 589px;
		width: 100%;
		z-index: -1;
		@media #{$xxl, $xl} {
			max-width: 500px;
			inset-inline-end: 0;
		}
		@media #{$lg} {
			max-width: 400px;
			inset-inline-end: 0;
		}
		@media #{$md} {
			display: none;
		}
		@media #{$sm, $xs} {
			display: none;
		}
	}

	.client-experience {
		max-width: 210px;
		width: 100%;
		background-color: var(--tj-color-common-white);
		padding: 23px 23px 18px;
		position: absolute;
		inset-inline-start: 0;
		bottom: 175px;
		box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.08);
		.images-thumb {
			margin-bottom: 9px;
			li {
				&.plus {
					i {
						background-color: var(--tj-color-theme-primary);
					}
				}
			}
		}
		.sub-title {
			display: inline-block;
			line-height: 1.5;
			span {
				font-weight: var(--tj-fw-bold);
			}
		}
		@media #{$xs} {
			bottom: 75px;
		}
	}
}

.hero-content-four {
	position: relative;
	max-width: 600px;
	width: 100%;
	z-index: 2;
	padding-top: 130px;
	.hero-subtitle {
		background-color: var(--tj-color-common-white);
		font-size: 14px;
		font-weight: var(--tj-fw-bold);
		padding: 2px 5px;
		line-height: 1;
		display: inline-flex;
		align-items: center;
		margin-bottom: 20px;
		span {
			background-color: var(--tj-color-theme-primary);
			color: var(--tj-color-common-white);
			height: 20px;
			width: 20px;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin: 0 5px;
		}
	}
	.hero-title {
		color: var(--tj-color-heading-primary);
		letter-spacing: -0.025em;
		line-height: 1.083;
		margin-bottom: 10px;
		span {
			color: var(--tj-color-theme-primary);
		}
		@media #{$xs} {
			font-size: 40px;
		}
	}
	.desc {
		max-width: 530px;
		width: 100%;
		color: var(--tj-color-text-body);
		font-size: 18px;
		line-height: 1.444;
		p:last-child {
			margin-bottom: 0;
		}
	}
	.tj-primary-btn {
		margin-top: 25px;
	}
	@media #{$xl} {
		max-width: 550px;
		padding-top: 90px;
	}
	@media #{$lg} {
		max-width: 420px;
		padding-top: 80px;
	}
	@media #{$md} {
		padding-top: 80px;
	}
	@media #{$sm, $xs} {
		padding-top: 20px;
	}
}

.hero-images-box-four {
	position: relative;
	max-width: 630px;
	width: 100%;
	z-index: 1;
	.hero-images {
		max-width: 531px;
		width: 100%;
		margin-inline-start: auto;
		@media #{$xl} {
			max-width: 450px;
		}
	}
	@media #{$xl} {
		max-width: 550px;
	}
	@media #{$lg} {
		max-width: 460px;
	}
	@media #{$md, $sm, $xs} {
		margin-top: 50px;
	}
}

.hero-video-btn {
	max-width: 200px;
	position: absolute;
	top: 200px;
	inset-inline-end: -100px;
	.video-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		padding: 16px 25px 16px 20px;
		background: var(--tj-color-common-white);
		border-radius: 50px;
		box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.08);
		.play-btn {
			background-color: var(--tj-color-theme-primary);
			color: var(--tj-color-common-white);
			width: 52px;
			height: 52px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			position: relative;
			animation: pulse-three 2s infinite;
			z-index: 5;
			i {
				line-height: 1;
				display: inline-flex;
			}
			@media #{$xl, $lg, $xs} {
				width: 40px;
				height: 40px;
			}
		}
		.video-text {
			color: var(--tj-color-common-black);
			font-weight: var(--tj-fw-bold);
			font-size: 15px;
			line-height: 1.2;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: 0px;
				inset-inline-end: 0;
				width: 100%;
				height: 1px;
				background-color: var(--tj-color-common-black);
			}
		}
		&:hover {
			.video-text {
				&::after {
					-webkit-animation: linehover 0.8s linear;
					animation: linehover 0.8s linear;
				}
			}
		}
		@media #{$xxl} {
			gap: 10px;
			padding: 12px 20px 12px 18px;
		}
		@media #{$xl, $lg, $xs} {
			gap: 10px;
			padding: 12px 20px 12px 14px;
		}
	}
	@media #{$xxl} {
		inset-inline-end: -45px;
	}
	@media #{$xl} {
		top: 170px;
		inset-inline-end: -35px;
	}
	@media #{$lg} {
		top: 170px;
		inset-inline-end: -25px;
	}
	@media #{$sm} {
		inset-inline-end: -25px;
	}
	@media #{$xs} {
		inset-inline-end: 0px;
		top: 32%;
	}
}

@keyframes pulse-three {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 117, 255, 0.6);
	}
	100% {
		box-shadow: 0 0 0 8px transparent;
	}
}
@keyframes linehover {
	0% {
		width: 100%;
	}
	50% {
		width: 0;
		right: 0;
	}
	100% {
		width: 100%;
		left: 0;
	}
}

/* !END: Hero CSS */
