@use "../utilities" as *;

/* START: Testimonial CSS */
.dark-bg {
	background-color: var(--tj-color-theme-dark);
}
.h5-testimonial {
	&-section {
		overflow: hidden;
		.sec-heading {
			.sub-title {
				background-color: rgba(247, 247, 247, 0.1);
			}
			.sec-title {
				color: var(--tj-color-common-white);
			}
		}
	}
	&-item {
		padding: 40px 30px;
		background-color: rgba(247, 247, 247, 0.1);
		overflow: hidden;
		position: relative;
		@media #{$sm, $xs} {
			padding: 35px 30px;
		}
		@media #{$xs} {
			padding: 30px 20px;
		}
		.author {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			align-items: flex-start;
			@media #{$xs} {
				gap: 12px;
			}
			&-images {
				width: 117px;
				height: 136px;
				-webkit-mask-image: url(/images/shapes/h5-author-mask.svg);
				-webkit-mask-size: contain;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				mask-image: url(/images/shapes/h5-author-mask.svg);
				mask-size: contain;
				mask-repeat: no-repeat;
				mask-position: center;
				background-color: var(--tj-color-theme-dark);
				position: relative;
				z-index: 1;
				margin-top: -41px;
				@media #{$sm, $xs} {
					margin-top: -35px;
				}
				@media #{$xs} {
					width: 110px;
					height: 130px;
				}
				img {
					width: 95px;
					height: 95px;
					border-radius: 50%;
					object-fit: cover;
					z-index: 2;
					position: absolute;
					top: 30px;
					inset-inline-start: 11px;
					@media #{$xs} {
						width: 85px;
						height: 85px;
						inset-inline-start: 13px;
					}
				}
			}
			&-rating {
				display: inline-block;
				background: var(--tj-color-theme-dark);
				padding: 2px 10px 4px;
				margin-bottom: 10px;
				border-radius: 32px;
				.star-ratings {
					color: var(--tj-color-theme-primary);
					-webkit-text-stroke: 1px var(--tj-color-theme-primary);
					.fill-ratings {
						color: var(--tj-color-theme-primary);
					}
					.empty-ratings {
						color: transparent;
					}
				}
			}
			&-name {
				letter-spacing: -0.025em;
				margin-bottom: 4px;
				color: var(--tj-color-common-white);
				@media #{$xs} {
					font-size: 18px;
				}
			}
			.sub-title {
				display: block;
				line-height: 1;
				color: var(--tj-color-common-white-2);
			}
		}
		.desc {
			color: var(--tj-color-common-white-2);
			font-size: 20px;
			margin-top: 35px;
			@media #{$sm} {
				margin-top: 25px;
				font-size: 18px;
			}
			@media #{$xs} {
				margin-top: 20px;
				font-size: 16px;
			}
			p {
				margin: 0;
			}
		}
		.quote-icon {
			position: absolute;
			inset-inline-end: 30px;
			top: 40px;
			font-size: 70px;
			line-height: 1;
			color: var(--tj-color-theme-primary);
			@media #{$sm} {
				top: 25px;
			}
			@media #{$xs} {
				top: 25px;
				inset-inline-end: 15px;
				font-size: 52px;
			}
		}
	}
}
