@use "../utilities" as *;

/* START: H6 Services CSS */
.h6-services {
	&-section {
		background-color: var(--tj-color-theme-bg);
		overflow: hidden;
		.sec-heading {
			max-width: 555px;
			width: 100%;
			margin-inline-start: auto;
			margin-inline-end: auto;
			margin-bottom: 60px;

			.sec-title {
				letter-spacing: -0.025em;
			}
		}
	}

	&-slider {
		.swiper_pagination {
			margin-top: 60px;
		}
	}
	&-item {
		&-inner {
			position: relative;
			z-index: 1;
			background-color: var(--tj-color-theme-bg);
			min-height: 460px;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-blend-mode: luminosity;
			display: flex;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				inset-inline-start: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(5, 18, 41, 0.6);
				z-index: -1;
				opacity: 1;
				transition: 0.5s;
			}
			.service_shape {
				position: absolute;
				inset-inline-start: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: var(--tj-color-theme-primary);
				z-index: 1;
				mask-image: url(/images/shapes/h6-service.svg);
				mask-size: cover;
				mask-position: center;
				transition: 0.4s;
				transform: scale(1.12);
				visibility: hidden;
				opacity: 0;
			}
			.service_icon {
				position: absolute;
				inset-inline-end: 15px;
				top: 35px;
				z-index: 2;
				display: inline-flex;
				font-size: 80px;
				line-height: 1;
				color: rgba(247, 247, 247, 0.3);
				opacity: 0;
				transform: scale(0.8);
				visibility: hidden;
				transition: 0.3s;

				i,
				svg {
					display: inline-flex;
					line-height: 1;
				}
			}

			.service_content {
				max-width: 280px;
				width: 100%;
				position: relative;
				z-index: 1;
				padding: 35px 0 35px 30px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 100%;
				height: auto;
				justify-content: space-between;
				gap: 30px;

				.title {
					color: var(--tj-color-common-white);
					margin: 0;
					line-height: 1.3;
					letter-spacing: -0.025em;

					a {
						&:hover {
							letter-spacing: 0;
						}
					}
				}

				.service_btn {
					margin-top: 0;
					color: var(--tj-color-common-white);

					.btn-icon {
						background-color: var(--tj-color-common-white);
						color: var(--tj-color-heading-primary);
						transform: rotate(-45deg);
						transition: 0.4s;

						i {
							color: var(--tj-color-heading-primary);
						}
					}
				}
			}
		}
		&:hover {
			.h6-services-item-inner {
				background-blend-mode: normal;

				&::before {
					opacity: 0;
				}
				.service_shape {
					transform: scale(1);
					visibility: visible;
					opacity: 1;
				}
				.service_icon {
					transform: scale(1);
					opacity: 1;
					visibility: visible;
				}
				.service_content {
					.service_btn {
						.btn-icon {
							transform: rotate(0);
						}
					}
				}
			}
		}
	}

	@media #{$xl} {
		&-item {
			&-inner {
				.service_icon {
					font-size: 70px;
				}
				.service_content {
					max-width: 265px;
				}
			}
		}
	}
	@media #{$lg} {
		&-item {
			&-inner {
				min-height: 420px;

				.service_icon {
					font-size: 60px;
					inset-inline-end: 10px;
				}
				.service_content {
					max-width: 225px;
					.title {
						font-size: 20px;
					}
				}
			}
		}
	}
	@media #{$md, $sm, $xs} {
		&-section {
			.sec-heading {
				margin-bottom: 40px;
			}
		}
		&-slider {
			.swiper_pagination {
				margin-top: 40px;
			}
		}
	}
}
/* END: H6 Services CSS */
